<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="webjars/toastr/2.1.3/toastr.css"/>
    <link rel="stylesheet" href="webjars/bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.min.css"/>
</head>
<body>
<!--<a th:href="@{/selectGoodsList}">商品管理</a>-->
<!--<a th:href="@{/seckill}">秒杀</a>-->
<div class="index form-inline">
    <label for="userName">用户名：
        <input type="text" class="form-control" id="userName"
               onkeyup="this.value=this.value.replace(/[, ]/g,'')" value="GST">
    </label>
    <label for="passWord">密&emsp;码：
        <input type="text" class="form-control" id="passWord"
               onkeyup="this.value=this.value.replace(/[, ]/g,'')" value="GST">
    </label>
    <div>
        <label for="role">角&emsp;色：
            <select id="role" class="form-control" data-live-search="true">
                <option value="B">买家</option>
                <option value="S">卖家</option>
                <option value="A">管理员</option>
            </select>
        </label>
        <button type="button" class="btn btn-success glyphicon glyphicon-log-in " style="margin-left: 40px;position:static"
                onclick="login()">&nbsp;登录
        </button>
    </div>
    <div>

    </div>
</div>

<!--引入js-->
<script src="webjars/jquery/3.6.0/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="webjars/bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js"></script>
<script src="webjars/bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.js"></script>
<script src="webjars/moment/2.29.1/moment.js"></script>
<script src="webjars/bootstrap-datetimepicker/2.4.4/js/locales/bootstrap-datetimepicker.fr.js"></script>
<script src="webjars/bootstrap-datetimepicker/2.4.4/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="webjars/toastr/2.1.3/toastr.js"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>