.userList  {
    /*text-align: center;*/
    border: 1px solid #ddd;
    outline: 0;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    background: #fff;
    border-radius: 6px;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}
.selectUser {
    border: 1px solid #ddd;
    outline: 0;
    padding: 10px;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    background: #fff;
    border-radius: 6px;
    margin: 10px;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}
.panel{
    margin: auto;
}

/*页面加载动画*/
.userPage {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,0.6);
}
.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}
.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes sp-anime {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}